.content__theme {
  background:#FFFFFF;
}

.header {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr min-content 1fr;
  padding: 90px 50px 96px 50px;
}

.header__links-list {
  display: flex;
  column-gap: 30px;
  font-size: 18px;
  line-height: 21px;
}
  
.header__links-link-item {
  list-style: circle;
}
  
.header__links-list-item_no-bullit {
  list-style: none;
  padding-left: 0;
}

.header__link_active {
  text-decoration: none;
}
  
.header__logo-image {
  display: block;
  width: 148px;
  height: 105px;
}
  
.address {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  justify-self: end;
  max-width: 240px;
  color: #000000;
}
  
.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.overlay {
  background-color:black;
  opacity: 60%;
  position: absolute;
  inset: 0;
}

.cover__title {
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  font-weight: 800;
  padding: 165px 50px 106px;
  color: #FFFFFF;
  position: relative;
}

.aligned-text {
  display: block;
  margin-bottom: 20px;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
  margin-bottom: 0;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 50px 50px 50px;
  gap: 107px;
}

.cover__description-text {
  color:#FFFFFF;
  text-transform: uppercase;
  word-spacing: 19px;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.bet_button {
  box-sizing: border-box;
  border: 1px solid #FFFFFF;
  background-color: transparent;
  color:#fff;
  text-transform: uppercase;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  width: 256px;
  height: 51px;
}

.lots {
  display: flex;
  flex-direction: column;
  margin: 180px 24px 0 24px;
}

.lots__heading {
  text-transform: uppercase;
  padding-left: 40px;
  padding-bottom: 27px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #000000;
}

.lots__card-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  column-gap: 25px;
  flex-wrap: wrap;
  row-gap: 25px;
}

.lots__card-list-item {
  list-style: none;
  min-height: 596px;
  width: 334px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  position: relative;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
} 

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
} 

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  position: relative;
  text-decoration: underline;
  text-transform: uppercase;
  padding: 48px 40px 0 40px;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  color: #FFFFFF;
}

.card__text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  position: relative;
  color: #FFFFFF;
  padding: 0 40px 48px 40px;
}

.lots__look-more-link {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  max-width: fit-content;
  margin: 30px 0 0 40px;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  margin: 120px 24px 0 24px;
}

.about__logo {
  border-radius: 150px;
  align-items: center;
  background-color: #000000;
  display: flex;
  justify-content: center;
  justify-self: center;
  height: 240px;
  width: 240px;
  margin: 35px 47px 0 47px;
}

.about__logo-image {
  height: 114px;
  width: 150px;
}

.about__column {
  margin: 136px 25px 0 25px;
}

.about__title {
  align-content: center;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  margin-bottom: 100px;
  color: #000000;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr ;
  align-items: start;
  padding: 180px 50px 82px 50px;
}

.footer__address {
  justify-self: start;
}

.footer__menu-list-item {
  list-style: none;
  text-align: center;
}

.footer__menu-link {
  font-size: 18px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  column-gap: 48px;
  justify-content: end;
}

.footer__social-list-item {
  list-style: none;
}

.footer__social-icon {
  max-width: 48px;
}